<section class="my-4">
  <div class="container">
    <h2>Advinhe o nome do personagem que disse:</h2>
    <h5>"{{ jogada.dica }}"</h5>
  </div>
</section>

<section class="my-4">
  <div class="container">
    <ul>
      <li>
        <form class="form-inline right" #jogoForm="ngForm" (ngSubmit)="tentarLetra(letraInformada)"
          *ngIf="isJogadaAberta()">
          <input type="text" maxlength="1" class="form-control" id="letraInformada" placeholder="Informe uma letra"
            name="letraInformada" [(ngModel)]="letraInformada" required autofocus>
          <button type="submit" class="btn btn-primary" [disabled]="jogoForm.invalid">Tentar Letra</button>
        </form>
        <button type="button" class="btn btn-primary right" [routerLink]="'/jogos/start'"
          *ngIf="!isJogadaAberta()">Voltar</button>
        <div>Vidas: {{ jogada.qtdVidas }}</div>
        Tentativas: {{ jogada.qtdTentativas }}
      </li>
    </ul>
  </div>
</section>

<section class="my-4">
  <div class="container">
    <div>
      <div class="right" *ngIf="jogada.status == 'RUNNING'">Letras Informadas: {{ jogada.letrasInformadas }}</div>
      <h2>Jogada: <b class="palavraMontada">{{ jogada.palavraMontada }}</b></h2>
    </div>
  </div>
</section>

<section class="my-4">
  <div class="container">
    <h5>{{ jogada.feedBackMessage }}</h5>
  </div>
</section>

<section class="my-4" *ngIf="imagePath != null">
  <div class="container">
    <img src="{{ imagePath }}">
  </div>
</section>
