.star-jedi-font {
  font-family: 'Star Jedi', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}

.img-start-page {
  max-height:550px;
  max-width:500px;
  height:auto;
  width:auto;
  border-radius: 2%;
}

td {
  padding: 10px;
  vertical-align: top;
}
